/*Typoghraphy*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background: hsl(0, 0%, 98%);
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
p{
	color: hsl(229, 6%, 66%);
	
}
/*header*/
header{
	width: 500px;
	margin: 50px auto;
	text-align: center;
	align-content: center;
}

h1{
	font-size: 35px;
    font-weight: 200;
}
h1 span{
    font-weight: 600;
}
  /*card-features*/

.container{
	max-width: 1140px;
	display: flex;
	flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.card{
	width: 350px;
	height: 250px;
	padding: 30px;
	margin: 13px;
	background: #fff;
	border-radius: 5.5px;
	
	/*box-shadow*/
	  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
	  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
	  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
	  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
	  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
	}
	 .card-1{
		border-top: 5px solid  hsl(180, 62%, 55%);

	}

	 .card-2{
		border-top: 5px solid  hsl(0, 78%, 62%);

	}
	 .card-3{
		border-top: 5px solid   hsl(34, 97%, 64%);
	}
	 .card-4{
		border-top: 5px solid  hsl(212, 86%, 64%);

	}
	.card p{
		margin: 15px 0 30px;
		font-size: 13px;
	}
	.card img{
		display: block;
		margin-left: auto;
	}
	.card-push{
		transform: translateY(50%);
	}
	/*media-query*/
	@media (max-width: 752px){
		.card-push{
		transform: translateY(0);
	}

	